.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li#discord {
     
}

.header {
     flex: auto;
     font-size: large;
     text-align: center;
     padding-top: 20px;
}

a:hover {
     background-color: antiquewhite;
}

div.navbar ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
     overflow: hidden;
     background-color: bisque;
}

div.navbar li {
     float: left;
     border-right: 1px solid #ffffff;
}

div.navbar li:last-child {
     border-right: none;
}

div.navbar a {
     display: block;
     padding: 8px;
     color: black;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

div.navbar .active {
     background-color: #ffcd8f;
}

#lists-container {
     font-size: large;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 50px;
     padding-top: 20px;
     justify-content: space-around;
}

.box {
     border-radius: 25px;
     background-color: #e5d899;
     align-content: space-around;
     padding: 20px;
     box-sizing: border-box;
}

.card .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: black;
     color: #fff;
     text-align: center;
     padding: 5px 0;
     border-radius: 6px;

     position: absolute;
     top: -5px;
     right: 105%;
     z-index: 1;
}

.card:hover .tooltiptext {
     visibility: visible;
}